<head>
    <title>WebGL Particles Test 2</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <canvas id="canvas"></canvas>
</head>
<body>
    <script type="text/javascript" src="three.min.js"></script>
    <script type="text/javascript" src="OrbitControls.js"></script>
    <script type="text/javascript" src="perlin.js"></script>
    <script type="text/javascript" src="dat.gui.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
    